@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Arial';
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input:focus,
select:focus {
  outline: none;
}

.transparent-input {
  background: transparent;
  border: none;
  line-height: normal;
}
